

.ctnr {
  position: absolute;
  width: 600px;
  height: 600px;
  top: 20px;
  left: 20px;
  background: black;
  
}

.cntr:hover {
 
  opacity: 0.8;
  
  
}

.img1:hover {
  position: absolute;
  z-index: -1;
  opacity: 0.8;
  transition: .5s opacity linear; 
  /*visibility: hidden;*/
}

/*.img2{
  position: absolute;
  visibility: hidden;
}

.img2:hover {
  z-index: 100;
  visibility: visible;
}

.img1:hover {
  visibility: hidden;
}*/